:root {
    --main-color: rgb( 6, 57, 108);
}


.masthead {
    height: 100vh;
    min-height: 500px;
    background:linear-gradient(to left, rgba(6, 57, 108, 0.5),rgba(6, 57, 108, 0.5) ), url(img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  }

.header {
    color: white;
}

*{
    font-family: 'Electrolize', sans-serif;  Font: Electrolize, Lato
}

h1 {
    font-size: 60px;
}

.nav-bar {
background-color:rgb( 6, 57, 108);
}

.ingran {
    width: 50px;
}

.linea {
    border-left: solid white 2px;
  padding: 5px;
    
}

.pad {
    padding-left: 600px;
}

.navbar-brand {
    flex-grow: 9;
}

.mega {
    /* font-size: 75px; */
    padding-top: 150px;
    padding-left: 50px;
    font-weight: 800;
}

.icon {
    padding-left: 100px;
    padding-top: 100px;
    font-size: 50px;
    color: var(--main-Color);
}

.pbox {
    padding: 20;
}

.bcol {
    font-weight: 800;
    color: var(--main-color);
}

.bordcard {
    border: none;
}

p {
    color: grey;
    font-weight: 600;
}

.spfont {
    font-weight: 700;
    color: black;
}

.iconcol {
    color: var(--main-color);
}

.tercont {
height: 800px;
  /* max-height: 100vh; */
  background-image: url(./img/power-plant-4712830_1280.jpg);
  background:linear-gradient(to left, rgba(6, 57, 108, 0.5),rgba(6, 57, 108, 0.5) ), url(img/power-plant-4712830_1280.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
 
}

.sticky {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.position-rel {
  
    top: 100px;
}

.txt {
    color: white!important;
}

.GrowIcon {
    font-size: 70px;
}

h3 {
    font-size: 50px;
    color: white;
}

/* .padf {
    padding-left: 200px;
} */

h4 {
    color: white;
}



.Pow {
    font-size: 75px;
    padding-left: 50px;
    padding-top: 70px;

}

.pad3 {
    padding-top: 100px;
}


.card1 {
    height: 600px;
    width: 100%;
    bottom: 50px;
    position: relative;
    
  
}

.c1 {
    background-color: var(--main-color);
    border: solid 5px white;
    left: 10%;
}

.card2 {
    height: 700px;
    width: 100%;
    top: 50px;
    border: none;
    right: 2%;
}

.tith4 {
    color: black!important;
}

.colcol {
    color: var(--main-color) ;
}

.btn {
 width: 200px;
 height: 50px;
 background-color: var(--main-color);
 
}


.padAdd {
    padding-left: 200px;
}

.btn-cust {
    border: none;
    background-color: var(--main-color);
    width: 100px;
    height: 50px;
    color: white;
    border-radius: 50px;
}


.sacr {

background-image: url(https://picsum.photos/200/300?grayscale);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 500px;
height:250px;
}



.col1 {
    color: white!important;
    font-weight: 500;
}




.imgtr {
    background: linear-gradient(to left, transparent 40%, rgba(6, 57, 108, 0.5) , rgba(6, 57, 108, 0.5));
    z-index: 100px;
    position: relative;
    left: -40px;
    top: -20px;
    /* width: 500px; */
    height: 250px;
    box-sizing: border-box;
}

.masthr {
    height: 500px;
    
    background-color: var(--main-color);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.smst {
    color: white;
    font-weight: 900;
}

.atm {
    
    background:linear-gradient(to left, rgba(6, 57, 108, 0.5),rgba(6, 57, 108, 0.5) ), url(./img/nuclear.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
    width: 350px;
    height: 200px;
}

.ic {
    font-size: 50px;
    color: white;
}

.padE {
    padding-left: 300px;
}

.sun {
    
    background:linear-gradient(to left, rgba(6, 57, 108, 0.5),rgba(6, 57, 108, 0.5) ), url(./img/sun.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
    width: 350px;
    height: 200px;
}

.wind {
    
    background:linear-gradient(to left, rgba(6, 57, 108, 0.5),rgba(6, 57, 108, 0.5) ), url(./img/wind.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
    width: 350px;
    height: 200px;
}

.gas {
    background:linear-gradient(to left, rgba(6, 57, 108, 0.5),rgba(6, 57, 108, 0.5) ), url(./img/gas.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
    width: 350px;
    height: 200px;
    border: none;
}

.wave {
    background:linear-gradient(to left, rgba(6, 57, 108, 0.5),rgba(6, 57, 108, 0.5) ), url(./img/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
    width: 350px;
    height: 200px;
    border: none;
}

.oil {
    background:linear-gradient(to left, rgba(6, 57, 108, 0.5),rgba(6, 57, 108, 0.5) ), url(./img/oil.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
    width: 350px;
    height: 200px;
    border: none;
}

.upp {
    z-index: 200px;
    position: relative;
    top: -50px;
    left: -60px;
}

.lef {
    position: relative;
    left: -60px;
}

.ft {
    font-size: 50px;
}

.ic2 {
    font-size: 50px;
}

.iconGrow {
    width: 250px;
    height: 200px;
}


.downl {
    box-shadow:  grey 2px 2px 2px 2px;
    border: none;
}

.proBar {
    background-color: rgb( 6, 57, 108) ;
}

.foot {
    background-color: black;
    height: 400px;
}

.fincard {
    background-color: var(--main-color);
    width: 375px;
    height: 375px;
    top: -60px;
    position: relative;
    left: 60px;
}





// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width